<mat-sidenav-container fxFlex>
    <mat-sidenav #sidenav mode="side" [disableClose]="true" [opened]="true" [autoFocus]="false">
        <mat-nav-list [style.padding-top]="0" (click)="nav.close()">
            <a *ngFor="let item of navigation" mat-list-item routerLink="{{ item.route }}" routerLinkActive="active">
                <img [style.margin-right.px]="0" matListIcon src="{{ item.image }}" class="nav-icon">
                <span *ngIf="showNav" [style.margin-left.px]="16">{{ item.name }}</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content [style.padding.px]="16" (click)="nav.close()">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
