<mat-card>
    <div fxLayout="row" fxLayoutAlign="start center">
        <img mat-card-avatar src="./assets/img/parts/cassette.png">
        <mat-card-title [style.margin-bottom]="0" [style.margin-left.px]="16" >Transmission Analysis</mat-card-title>
        <mat-card-subtitle *ngIf="showHelp" [style.margin-bottom]="0" [style.margin-left.px]="16">
            Enter the number of teeth of the chainrings and cogs to perform analysis.
        </mat-card-subtitle>
    </div>
    <hr>
    <mat-card-content>
        <form [formGroup]="form">
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <mat-form-field appearance="outline" [style.margin-bottom.em]="-1.25">
                    <mat-label>Measurement</mat-label>
                    <mat-select formControlName="measurement">
                        <mat-option *ngFor="let measurement of measurements" [value]="measurement.key" [matTooltip]="measurement.help" [matTooltipClass]="'tooltip'" [matTooltipPosition]="'right'" [matTooltipDisabled]="!showHelp">{{ measurement.name }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
                    <button mat-mini-fab type="button" [matTooltip]="'Sort the chainrings and cogs'" [matTooltipClass]="'tooltip'" [matTooltipDisabled]="!showHelp" color="primary" (click)="sort()">
                        <mat-icon>sort</mat-icon>
                    </button>
                    <button mat-mini-fab type="button" [matTooltip]="'Clear the form'" [matTooltipClass]="'tooltip'" [matTooltipDisabled]="!showHelp" color="warn" (click)="reset()">
                        <mat-icon>clear</mat-icon>
                    </button>
                </div>
            </div>
            <hr>
            <div fxLayoutAlign="row" fxLayoutAlign="start center" [style.margin-bottom.px]="16">
                <span class="sideways">Chainrings</span>
                <div fxLayout="column" fxLayoutAlign="start center">
                    <span [style.margin.px]="16">Cogs</span>
                    <table [style.border-collapse]="'collapse'">
                        <thead>
                            <tr formArrayName="cogs">
                                <td></td>
                                <td *ngFor="let cog of cogs.controls; let i = index;" class="centered" [matTooltip]="'Number of teeth per cog'" [matTooltipClass]="'tooltip'" [matTooltipDisabled]="!showHelp">
                                    <mat-form-field appearance="outline" [style.width.px]="50">
                                        <input matInput OnlyNumbers maxlength="2" [formControlName]="i" (keyup)="calculate()">
                                    </mat-form-field>
                                </td>
                            </tr>
                        </thead>
                        <tbody formArrayName="chainrings">
                            <tr *ngFor="let chainring of chainrings.controls; let i = index;">
                                <td class="centered" [matTooltip]="'Number of teeth per chainring'" [matTooltipClass]="'tooltip'" [matTooltipDisabled]="!showHelp" [matTooltipPosition]="'right'">
                                    <mat-form-field appearance="outline" [style.width.px]="50">
                                        <input matInput OnlyNumbers maxlength="2" [formControlName]="i" (keyup)="calculate()">
                                    </mat-form-field>
                                </td>
                                <td *ngFor="let result of results[i]; let j = index;" class="results centered" [ngClass]="results[i][j]?.background">
                                    {{ results[i][j]?.value | number:'.2-2' }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <hr>
            <div>Details</div>
        </form>
    </mat-card-content>
</mat-card>